<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
        android:label="Ambient Light for YouTube"
        android:allowBackup="false">

        <activity
            android:name="com.shubham.ambientlight.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.shubham.ambientlight.AmbientService"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            
            <property 
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" 
                android:value="Ambient light overlay service" />
                
        </service>

    </application>

</manifest>
