<?xml version="1.0" encoding="utf-8"?>
<manifest>

    <uses-permission name="android.permission.INTERNET" />

    <application
        theme="@android:style/Theme.DeviceDefault.NoActionBar"
        label="Ambient Light for YouTube"
        hardwareAccelerated="true"
        allowBackup="false">

        <activity
            name="com.shubham.ambientlight.MainActivity"
            exported="true"
            configChanges="orientation|screenSize|layoutDirection">
            <intent-filter>
                <action name="android.intent.action.MAIN" />
                <category name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
